<div class="ekart--header d-flex">
    <div class="ekart-logo d-flex align-items-center px-3">
        <!-- <img src="images/logo.jpeg"> -->
        <app-main-menu></app-main-menu>
        <span>Gelly</span>
    </div>
    
    <div class="align-items-center mt-2" >
        <a routerLink="/" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">Home</a>
        <a routerLink="/product-list" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">Product</a>
        <a routerLink="/about" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">About</a>
        <a href="/#contact"[routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">Contact</a>
</div>
    <div class="ekart--header--nav">
       <!-- top-menu -->
        <app-top-menu></app-top-menu>
        <div class="ekart--bottom--bar">
           
            <!-- <div class="ekart--search-bar">
                <input type="text" class="ekart-search-box" placeholder="Search">
                <button class="ekart--search--btn">
                    <i class="fa fa fa-search" aria-hidden="true"></i>
                </button>
            </div> -->
        </div>
    </div>
</div>