<hr>
<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h4>Stay Wiggly!</h4>
          <p>Your one-stop destination for all things Jello! Join us in our delicious adventure.</p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-auto">
          <h5>Quick Links</h5>
          <ul class="list-unstyled">
            <li><a href="/about">About Us</a></li>
            <li><a href="/products">Our Products</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/blog">Jello Blog</a></li>
          </ul>
        </div>
        <div class="col-auto">
          <h5>Follow Us</h5>
          <ul class="list-unstyled social-icons">
            <li><a href="#" aria-label="Facebook"><img src="../../assets/images/images/facebook 2.png" alt="Twitter">Facebook</a></li>
            <li><a href="#" aria-label="Twitter"><img src="../../assets/images/images/twitter.png" alt="Twitter">Twitter</a></li>
            <li><a href="#" aria-label="Instagram"><img src="../../assets/images/images/instagram.png" alt="Instagram">Instagram</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <p>&copy; 2024 Jello Lovers Inc. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </footer>
  