<div class="overlay">
<div class="ekart-product-info scroll">
    <div class="ekart-product-detail-close">
        <i class="fa fa-times" aria-hidden="true"></i>
    </div>
    <div class="ekart-product-image">
        <img src="" alt="">
    </div>
    <div class="ekart-product-detail">
        <div class="ekart-product-detail-name">
            <h2>Jello</h2>
        </div>
        <div class="ekart-product-detail-gbc">
            <span SetBackground>MEN</span>
            <span SetBackground>NIKE</span>
            <span SetBackground>Sports</span>
        </div>
        <div class="ekart-product-detail-price">
            <p>
                <b>Price Each Plate:</b>
                <span style="background-color: red; color: white;">Ksh 50</span>
                <span style="background-color: green; color: white;">(exclusive delivery fees)</span>
            </p>
        </div>
        <div class="ekart-product-detail-quantity">
            <div class="padding: 5px 0px;border-bottom:#ccc 2px solid">
                <h4>Available Quantity</h4>
            </div>
            <div style="margin-top: 20px;">
                <span class="ekart-product-detail-available-quantity">20kg</span>
                <span class="ekart-product-detail-available-quantity">50kg</span>
                <span class="ekart-product-detail-available-quantity">100kg</span>
                <span class="ekart-product-detail-available-quantity">200kg</span>
            </div>
        </div>

        <div class="ekart-product-detail-description">
            <div style="padding: 5px 0px;border-bottom: #ccc 2px solid;">
                <h4>Product Description</h4>
            </div>
        </div>
    </div>
    <div class="ekart-product-detail-cart">
        <button class="btn add-to-cart">Add to cart</button>
    </div>
</div>
</div>
