<div class="container">
    <app-filter [all]='totalProduct' [inStock]="totalInStock" [outOfStock]="totalOutOfStock"
        (selectedFilterRadioButtonChanged)="onFilterChanged($event)"></app-filter>
    <div class="row">
        <!-- *ngIf="selectedFilterRadioButton ==='all' || prod.is_in_inventory.toString() === selectedFilterRadioButton" -->
        <div *ngFor="let prod of products" class="col-md-3">
            <app-product [product]="prod"
                *ngIf="searchText === '' || prod.name.toLowerCase().includes(searchText) || prod.origin.toLowerCase().includes(searchText)"
                (click)="openProductDetailDialog(prod)">
            </app-product>
        </div>
    </div>
</div>
