<div class="menu">
    <button mat-button [matMenuTriggerFor]="menu"
        style="border: none; background-color: white;"><mat-icon>menu</mat-icon></button>
    <mat-menu #menu="matMenu">
        <ng-container *ngFor="let menu of mainMenuArray">
            <button mat-menu-item (click)="onClick(menu.route)" (mouseleave)="onLeave()">
                {{menu.name}}
            </button>
        </ng-container>
    </mat-menu>
</div>

<!-- <div *ngIf="!hoveredMenu">
    <app-main-menu></app-main-menu>
</div> -->

<!-- <div *ngIf="hoveredMenu">
    <app-home></app-home>
</div> -->