<div class="container-fluid">
    <div class="ekart--top--bar">
        <button *ngIf="authService.getuser" class="btn btn-secondary btn-lg btn-block rounded-pill"  [routerLink]="['sign-in']"> <mat-icon>person</mat-icon> login</button>
        <button *ngIf="authService.getuser" class="btn btn-secondary btn-lg btn-block rounded-pill" [routerLink]="['sign-in']"[routerLink]="['sign-up']"> <mat-icon>person</mat-icon>SignUp</button>
        <button *ngIf ="authService.getuser" type="button" class="btn btn-primary btn-block rounded-pill"routerLink="./home">LogOut</button>
    </div>
</div>

